* {
  font-family: Arial;
}

main {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

table {
  margin: 50px auto;
  text-align: left;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
}

th,
td {
  padding: 5px;
}

#view-all-btn,
#delete-all-btn {
  margin-right: 1.25em;
}